<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kangur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <kangur.Properties.Settings>
            <setting name="hero_snapshotKeyText" serializeAs="String">
                <value />
            </setting>
            <setting name="hero_snapshotKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hero_loadKeyText" serializeAs="String">
                <value />
            </setting>
            <setting name="hero_loadKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hero_boostKeyText" serializeAs="String">
                <value />
            </setting>
            <setting name="hero_boostKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="environment_loadLevelText" serializeAs="String">
                <value />
            </setting>
            <setting name="environment_loadLevelKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_0_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_1_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_2_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_3_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_4_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_5_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_6_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_7_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_8_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_9_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_10_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_11_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_12_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_13_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_14_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_15_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_16_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_17_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_18_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_19_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_20_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_21_best" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_0_backup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_clean" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_1_backup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ilstimer_2_backup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="environment_forceLoadAllTexturesText" serializeAs="String">
                <value />
            </setting>
            <setting name="environment_forceLoadAllTexturesKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="environment_loadLastCheckpointText" serializeAs="String">
                <value />
            </setting>
            <setting name="environment_loadLastCheckpointKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
        </kangur.Properties.Settings>
    </userSettings>
</configuration>