<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kangur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <kangur.Properties.Settings>
            <setting name="hero_snapshotKeyText" serializeAs="String">
                <value />
            </setting>
            <setting name="hero_snapshotKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hero_loadKeyText" serializeAs="String">
                <value />
            </setting>
            <setting name="hero_loadKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hero_boostKeyText" serializeAs="String">
                <value />
            </setting>
            <setting name="hero_boostKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="environment_loadLevelText" serializeAs="String">
                <value />
            </setting>
            <setting name="environment_loadLevelKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
        </kangur.Properties.Settings>
    </userSettings>
</configuration>